<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Why GRE?</h1>
    <b1> Hi there! Thanks for vising the GRE webiste! This webiste was created by a gamer for gamers! The soul purpose is to put a the perfect game in your hands based on your respones to only 6 questions! Head over to the "Start Here!" page to begin your journey!</b1>
</body>
</html>